/*--- VARIABLES ---*/

$darkBlue: hsl(233, 47%, 7%);
$desaturatedBlue: hsl(244, 38%, 16%);
$softViolet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$whiteParagraphs: hsla(0, 0%, 100%, 0.75);
$WhiteHeadings: hsla(0, 0%, 100%, 0.6);

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $darkBlue;
  font-size: 15px;
  color: $white;
  height: 100vh;
  width: 100vw;
  line-height: 1.5;
}

main {
  max-width: 85vw;
  max-height: fit-content;
  margin: 40px auto 40px auto;
  background-color: $desaturatedBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.img__container {
  height: 15rem;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  background-image: url(../images/image-header-mobile.jpg);
  background-size: cover;
  background-color: hsla(277, 64%, 56%, 0.603);
  background-blend-mode: overlay;
  background-position: center;
  position: relative;
  border-radius: 15px 15px 0 0;
}

.tagline {
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.tagline__header {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.tagline__desc {
  color: $WhiteHeadings;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 14px;
}

.accent {
  color: $softViolet;
}

.stats__container {
  margin: 10px;
}

.stats {
  margin: 20px;
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
}

.stats__desc {
  color: $WhiteHeadings;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
}

@media screen and (min-width: 440px) {
  .image__container {
    height: 16rem;
  }
}

@media screen and (min-width: 750px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main {
    flex-direction: row-reverse;
  }
  .img__container {
    height: 100%;
  }
  .image {
    background-image: url(../images/image-header-desktop.jpg);
    border-radius: 0 15px 15px 0;
    height: 100%;
  }
  .tagline {
    padding: 30px;
  }

  .tagline,
  .stats {
    text-align: unset;
  }
  .stats__container {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
  }
}
