/*--- VARIABLES ---*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #090b1a;
  font-size: 15px;
  color: white;
  height: 100vh;
  width: 100vw;
  line-height: 1.5;
}

main {
  max-width: 85vw;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin: 40px auto 40px auto;
  background-color: #1b1938;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

.img__container {
  height: 15rem;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  background-image: url(../images/image-header-mobile.jpg);
  background-size: cover;
  background-color: rgba(160, 71, 215, 0.603);
  background-blend-mode: overlay;
  background-position: center;
  position: relative;
  border-radius: 15px 15px 0 0;
}

.tagline {
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.tagline__header {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.tagline__desc {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 14px;
}

.accent {
  color: #aa5cdb;
}

.stats__container {
  margin: 10px;
}

.stats {
  margin: 20px;
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
}

.stats__desc {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
}

@media screen and (min-width: 440px) {
  .image__container {
    height: 16rem;
  }
}

@media screen and (min-width: 750px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .img__container {
    height: 100%;
  }
  .image {
    background-image: url(../images/image-header-desktop.jpg);
    border-radius: 0 15px 15px 0;
    height: 100%;
  }
  .tagline {
    padding: 30px;
  }
  .tagline,
  .stats {
    text-align: unset;
  }
  .stats__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px 20px;
  }
}
/*# sourceMappingURL=styles.css.map */